# تنظیمات ربات‌ها
MAIN_BOT_TOKEN="your_main_bot_token"
ADMIN_BOT_TOKEN="your_admin_bot_token"
ADMIN_CHAT_IDS="your_admin_id"

# تنظیمات انجمن
SOCIETY_NAME="انجمن علمی مهندسی ساخت و تولید"
UNIVERSITY="دانشگاه محقق اردبیلی"
CONTACT_EMAIL="uma.ac.ir"
CONTACT_PHONE="+0123456789"

# تنظیمات کانال
CHANNEL_ID=""
CHANNEL_URL=""

# تنظیمات دیتابیس و پروکسی
DATABASE_PATH="database/bot_data.db"
PROXY_URL=""

# تنظیمات لاگ و محدودیت‌ها
LOG_LEVEL="INFO"
MAX_MESSAGES_PER_DAY=1
